# Raw datasets
data/raw/

# Processed datasets
data/processed/

# Virtual environment
.venv/

# Python caches
__pycache__/
*.py[cod]

# Local secrets
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Python packaging metadata
*.egg-info/